body
{
	background: #CCCCCC;
	padding: 30px;
	margin: 0;
}
#error-box
 {
	width: 800px;
	background-color: #f8f8f8;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #000000;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px; 
}
div.error-header {
	margin: 10px;
	font-weight: bold;
	font-size: 24px;
	color: #CC0000;
	border-bottom: 1px solid #666666;
}
div.error-message {
	margin:10px;
	font-size: 16px;
}
div.header {
	margin: 10px;
	font-weight: bold;
	font-size: 24px;
	color: #000000;
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 1px solid #666666;
}
div.links {
	border-top: 1px solid #666666;
	padding-top: 3px;
	margin:10px;
	text-align: center;
	font-size: 12px;
}
div.message {
	margin:10px;
	text-align: center;
	font-size: 14px;
}
